*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/compiler.xml
/example.txt
/.idea/misc.xml
/.idea/vcs.xml
/demo.webm
/demo.mp4
/app-debug.apk
/Screenshot_20221107_115705.png
/Screenshot_20221107_115718.png
/Screenshot_20221107_115735.png
/Screenshot_20221107_115751.png
/Screenshot_20221107_115805.png
/Screenshot_20221107_172301.png
